@import 'stylesheets/vars';
@import 'stylesheets/mixins';

.header {
    background: $color-alt;
    color: $color-reverse-alt;
    line-height: 3em;
    margin-bottom: 1.5em;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__link {
      @include link-alt;
    }
}
