.header {
    background: #111;
    color: #eee;
    line-height: 3em;
    margin-bottom: 1.5em;
}

.header__title-link {
    color: #eee;
    text-decoration: none;
}

.header__title-link:hover {
    text-decoration: underline;
}
