.header {
    background: #111;
    color: #eee;
    line-height: 3em;
    margin-bottom: 1.5em;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: #eee;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
