body {
  font-family: 'Lato', Arial, serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #3d3d3d;
  background: #fff;
  background-image: url(https://basehold.it/i/27);
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1, h2, h3 {
  font-family: 'Merriweather', Georgia, serif;
}

h1 {
	margin: 0;
	font-size: 1.4444444444444444em;
	line-height: 1.0384615384615385em;
	margin-bottom: 1.0384615384615385em;
}

h2 {
	margin: 0;
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}

h3 {
	margin: 0;
	font-size: 1.2222222222222223em;
	line-height: 1.2272727272727273em;
	margin-bottom: 1.2272727272727273em;
}

h4 {
	margin: 0;
	font-size: 1.1111111111111112em;
	line-height: 1.35em;
	margin-bottom: 1.35em;
}

small {
	margin: 0;
	font-size: 0.8888888888888888em;
	line-height: 1.6875em;
	margin-bottom: 1.6875em;
}

table {
	border-collapse: collapse;
	margin-bottom: 1.5em;
}

p, ul, ol, pre {
    margin: 1.5em 0;
}

ul, ol {
    padding-left: 1.5em;
}

p {
    text-align: justify;
}

hr {
    text-align: center;
    border: 0;
}

hr::before {
    content: '...';
    display: inline-block;
    color: #3d3d3d;
    font-size: 3em;
    position: relative;
    letter-spacing: 0.5em;
    bottom: 0.57em;
}

blockquote {
    margin: 1.5em 0 1.5em -1.3em;
    border-left: 0.3em solid #3d3d3d;
    font-style: italic;
    padding-left: 1em;
}

a {
  color: #111;
}
