@import 'stylesheets/vars';

.read-next {
  margin-bottom: 4.5em;
  
  &__line-on-small-screen {
    display: none;

    @media (max-width: $break-point-m) {
      display: block;
    }
  }

  &__line-on-big-screen {
    @media (max-width: $break-point-m) {
      display: none;
    }
  }
}
