.contact-page {
  &__header {
    text-align: center;
    margin: 3em 0;
  }

  &__title {
    margin: 0;
  }

  &__links {
    margin-bottom: 3em;
  }

  &__author-item {
    background-color: #efefef;
    padding: 1.5em 0;
    position: relative;
    top: 4.5em;
  }
}
