@import 'stylesheets/mixins';

.index-page {
  padding-top: 3em;

  &__post-list {
    padding: 4.5em 0 3em;
  }

  &__post-list-button {
    text-align: center;
    padding: 1.5em 0;
  }

  &__author-item {
    @include author-item-reversed;
  }
}
