@import 'stylesheets/mixins';

.index-page {
  &__post-list {
    padding-top: 4.5em;
  }

  &__post-list-button {
    text-align: center;
    margin: 1.5em 0;
  }

  &__author-item {
    @include author-item-reversed;
  }
}
