@import 'stylesheets/vars';
@import 'stylesheets/mixins';

.index-page {
  &__post-list {
    padding-top: 4.5em;
  }

  &__post-item {
    margin-bottom: 1.5em;
  }

  &__author-item {
    @include reverse-bg;
    background-color: #232323;
    color: $color-reverse;
    padding: 1.5em 0;
    position: relative;
    top: 4.5em;
  }
}
