.wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1em;
}

.body {
  background-color: $color-reverse;
  padding: 1.5em 0 4.5em;
  // background-image: url(https://basehold.it/i/27);
  background-image: url(/static/img/27.png);
}
