.post-item {
    margin-bottom: 3em;
}

.post-item__headline {
    margin-bottom: 0;
}

.post-item__headline-link {
    color: #3d3d3d;
    text-decoration: none;
}

.post-item__headline-link:hover,
.post-item__headline-link:focus {
    text-decoration: underline;
}

.post-item__body {
    margin: 0;
}
