@import 'stylesheets/vars';

.post-wrapper {
  margin-bottom: 4.5em;
}

.post {
  padding: 1.5em 0;

  img {
    margin: 1.5em auto;
    display: block;
    max-width: 100%;
  }

  img + em {
    text-align: center;
    display: block;
    margin-top: -1.5em;
  }

  &__published {
    text-align: right;
    color: #999;
    margin-bottom: 1.5em;
  }

  @media (min-width: $break-point-m) {
    p {
      text-align: justify;
    }
  }
}

.post-actions {
  text-align: center;
}

.post-author-item {
  padding-bottom: 1.5em;
}

.post-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
