$class-name: 'like-button';
$color-active: #972F38;

.#{$class-name} {
  border: 0;;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  text-align: center;

  &:hover {
    color: $color-active;

    .#{$class-name}__icon {
      stroke: #972F38;
    }
  }

  &--active {
    color: $color-active;
    cursor: auto;

    .#{$class-name}__icon {
      stroke: #972F38;
      fill: #972F38;
      animation-name: wishlist-icon-activate;
    }
  }

  &__icon {
    fill: #fff;
    stroke: #333;
    stroke-width: 3px;
    animation-duration: 0.2s;
  }

  &__text {
    display: block;
    line-height: 2.3em;
  }
}

@keyframes wishlist-icon-activate {
  0%, to {
    transform: scale(1)
  }
  60% {
    transform: scale(1.15)
  }
}
