@import 'stylesheets/vars';
$class-name: 'like-button';

.#{$class-name} {
  border: 0;;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  text-align: center;

  &:hover {
    color: $color-extra;

    .#{$class-name}__icon {
      stroke: $color-extra;
    }
  }

  &--active {
    color: $color-extra;
    cursor: auto;

    .#{$class-name}__icon {
      stroke: $color-extra;
      fill: $color-extra;
      animation-name: wishlist-icon-activate;
    }
  }

  &__icon {
    fill: #fff;
    stroke: $color-base;
    stroke-width: 3px;
    animation-duration: 0.2s;
  }

  &__text {
    display: block;
    line-height: 2.3em;
  }
}

@keyframes wishlist-icon-activate {
  0%, to {
    transform: scale(1)
  }
  60% {
    transform: scale(1.15)
  }
}

.like-button-wrapper {
  &__share-buttons {
    margin-top: 1.5em;
    min-height: 53px;
  }
}
