@import 'stylesheets/vars';
@import 'stylesheets/mixins';

.author-item {
  margin: 3em 0;
  @include clearfix;

  &__image {
    max-width: 150px;
    border-radius: 100%;
    margin-right: 1.5em;
    float: left;

    @media (max-width: $break-point) {
      margin: 0 auto 1.5em;
      float: none;
      display: block;
    }
  }

  &__description {
    overflow: hidden;
  }
}
